<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/fonts/academic_icons/css/academicons.min.css"/>
			<link rel="stylesheet" href="/fonts/font_awesome/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
		        	<li><a href="/demos">Demos</a></li>
	        		<li><a href="/cv/neil_cv.pdf">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->

	    			<!-- <li><a  href="https://scholar.google.co.uk/citations?user=MTmii2YAAAAJ&hl=en"> <i class="ai ai-google-scholar-square ai-lg"></i></a></li>
				    <li><a  href="https://github.com/NeilBramley"> <i class="fa fa-github  fa-lg"></i></a></li>
				    <li><a  href="https://www.researchgate.net/profile/Neil_Bramley"><i class="ai ai-researchgate-square ai-lg"></i></a></li>
				    <li><a  href="https://ucl.academia.edu/NeilBramley"><i class="ai ai-academia-square ai-lg"></i></a></li>
				    <li><a  href="https://www.flickr.com/photos/11672274@N02/"><i class="fa fa-flickr fa-lg"></i></a></li> -->
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    		    <li><a  href="https://scholar.google.co.uk/citations?user=MTmii2YAAAAJ&hl=en"> <i class="ai ai-google-scholar-square ai-3x"></i></a></li>
				    <li><a  href="https://github.com/NeilBramley"> <i class="fa fa-github  fa-3x"></i></a></li>
				    <li><a  href="https://www.researchgate.net/profile/Neil_Bramley"><i class="ai ai-researchgate-square ai-3x"></i></a></li>
				    <li><a  href="https://ucl.academia.edu/NeilBramley"><i class="ai ai-academia-square ai-3x"></i></a></li>
				    <li><a  href="https://www.flickr.com/photos/11672274@N02/"><i class="fa fa-flickr fa-3x"></i></a></li>
					<!-- <li><a href="mailto:neil.bramley@nyu.edu">email</a></li> -->
	        		<!-- <li><a href="https://github.com/neilbramley">github</a></li>  -->
				</ul>
			</footer>
		</body>
	</html>
